<nav class="top-nav teal">
  <div class="nav-wrapper">
    <div class="container">
      <a class="page-title font-title" href="{{site.baseurl}}/">{{ site.title }}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/tags.html">Categorías</a></li>
        <li><a href="{{ site.baseurl }}/categories.html">Categories</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>